body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: Impact, sans-serif; }

header {
  position: fixed;
  width: 100%;
  background: white;
  opacity: 0;
  z-index: 999999;
  box-shadow: 0 0 1px #d6d6d6; }
  header h1 {
    width: 35%;
    margin: 5px 380px 0 0;
    font-size: 2.5em;
    color: #919191;
    float: left;
    text-align: center; }

nav ul {
  margin: 10px;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  text-decoration: none;
  padding: 10px 10px 10px 15px;
  font-size: 1.7em;
  color: #e28812; }
nav a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  transition: 0.1s ease-in;
  background-color: rgba(226, 136, 18, 0.9); }

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6); }
  .wrapper h1 {
    font-size: 200px;
    margin: 0;
    padding-top: 270px;
    text-align: center;
    color: #919191; }

.parallax-window {
  height: 100vh;
  min-height: 400px;
  width: 100%;
  background-image: url("../Images/NewYork.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.content {
  width: 100%;
  margin-bottom: 10%; }
  .content .content_container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    height: 100vh; }
    .content .content_container h1 {
      margin-bottom: 5%;
      font-size: 8em;
      text-align: center;
      color: #e28812; }
  .content .c1, .content .c2, .content .c3 {
    margin: 0;
    padding: 0;
    width: 30%;
    margin: 20px 0 0 30px;
    float: left;
    color: #919191;
    font-family: Arial; }
    .content .c1 .headshot, .content .c2 .headshot, .content .c3 .headshot {
      max-width: 200px;
      float: left; }

.secondP {
  height: 50vh;
  min-height: 400px;
  width: 100%;
  background: transparent; }

.content_gallery {
  margin: 0;
  padding: 0;
  width: 100%; }
  .content_gallery .grey_background {
    padding: 1% 0;
    background-color: #494949;
    color: white; }
    .content_gallery .grey_background h1 {
      font-size: 8em;
      text-align: center;
      color: #e28812; }
  .content_gallery .white_background {
    padding: 5% 0; }
  .content_gallery .img_one_container, .content_gallery .img_two_container, .content_gallery .img_three_container, .content_gallery .img_four_container {
    width: 80%;
    margin: 3% auto;
    overflow: hidden; }
    .content_gallery .img_one_container a, .content_gallery .img_two_container a, .content_gallery .img_three_container a, .content_gallery .img_four_container a {
      color: #e28812;
      font-family: 'PT Sans', sans-serif; }
    .content_gallery .img_one_container img, .content_gallery .img_two_container img, .content_gallery .img_three_container img, .content_gallery .img_four_container img {
      float: left;
      width: 55%; }
    .content_gallery .img_one_container .img_info_one, .content_gallery .img_two_container .img_info_one, .content_gallery .img_three_container .img_info_one, .content_gallery .img_four_container .img_info_one, .content_gallery .img_one_container .img_info_two, .content_gallery .img_two_container .img_info_two, .content_gallery .img_three_container .img_info_two, .content_gallery .img_four_container .img_info_two, .content_gallery .img_one_container .img_info_three, .content_gallery .img_two_container .img_info_three, .content_gallery .img_three_container .img_info_three, .content_gallery .img_four_container .img_info_three, .content_gallery .img_one_container .img_info_four, .content_gallery .img_two_container .img_info_four, .content_gallery .img_three_container .img_info_four, .content_gallery .img_four_container .img_info_four {
      float: left;
      width: 40%;
      max-width: 50%;
      padding: 10px;
      font-family: 'PT Sans', sans-serif; }

.contact_me {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; }
  .contact_me h1 {
    color: #919191; }
  .contact_me .contact_box {
    width: 30%;
    padding: 15%;
    margin: auto; }
  .contact_me input {
    width: 100%;
    height: 30px;
    margin: 5px 0 5px 0;
    border: 2px solid #e28812;
    border-radius: 3px; }
  .contact_me textarea {
    width: 99.5%;
    height: 150px;
    margin: 5px 0 5px 0;
    border-radius: 3px;
    border: 2px solid #e28812; }
  .contact_me button {
    width: 102%;
    border-radius: 3px;
    background-color: white;
    border: 2px solid #e28812;
    height: 30px; }

/*# sourceMappingURL=main.css.map */
