
.content_gallery {
	@include margin_padding(0);
		// display: inline-block;
	width: 100%;
	.grey_background {
		padding: 1% 0;
		background-color: #494949;
		color: #ccc;
		h1 {
			font-size: 8em;
			text-align: center;
			color: $orange;
		}
	}
	.white_background {
		padding: 5% 0;
	}
	.img_one_container {
		width: 80%;
		margin: 2% auto;
		padding: 5%;
		overflow: hidden;
		background-color: #4f4f4f;
		// border: 1px solid #707070;
		border-radius: 5px;
		box-shadow: 0 0 10px #3a3a3a;

		a {
			color: $orange;
			font-family: 'PT Sans', sans-serif;
		}
		img {
			float: left;
			width: 55%;
			// box-shadow: 0 0 20px #ccc;
		}
		
		.img_info_one {
		float: left;
    	width: 40%;
    	max-width: 50%;
    	padding: 10px;
    	font-family: 'PT Sans', sans-serif;
		}
	}

	.img_two_container {
		@extend .img_one_container;
	}
	.img_info_two {
		@extend .img_info_one;
	}
	.img_three_container {
		@extend .img_one_container;
	}
	.img_info_three {
		@extend .img_info_one;
	}
	.img_four_container {
		@extend .img_one_container;
		margin-bottom: 80px;
	}
	.img_info_four {
		@extend .img_info_one;
	}

}


// @@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@

@media all and (max-width: 990px){

	.content_gallery {
		.img_one_container .img_info_one{
			min-width: 100%;
			float: none;
		}
		.img_one_container img{
			width: 100%;
			float: none;

		}
	}
}

@media all and (max-width: 630px) {
	.content_gallery {
		.grey_background h1 {
			font-size: 7em;
		}
	}
}


