nav {
	width: 60%;
    float: right;
    text-align: right;
	ul{
		margin: 10px;
		list-style: none;
	}
	li{
		display: inline-block;
	}
	a {
		text-decoration: none;
		padding: 10px 10px 10px 15px; 
		font-size: 1.7em;
		color: $orange;
	}
	a:hover {
		@include white(.6);
		color: $white_color;
		transition: 0.1s ease-in;
		// transform: scale(1.035);
		background-color: rgba(226, 136, 18, .9);
	}
}

// @@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@

@media all and (min-width: 831px) and (max-width: 1040px){
	nav {
		width: 50%;
		li {
			display: inline-block !important;
		}
	}	
}

@media all and (min-width: 631px) and (max-width: 830px) {
	nav {
		width: 100%;
		float: none;
		li {
			display: inline-block !important;
		}	
	}
}

@media all and (max-width: 630px) {
	header {
		h1 {
			width: 90%;
		}
		nav {
			width: 100%;
			ul {
				padding: 0;
			}
			li {
				display: none;
				width: 100%;
				padding: 2px 0 2px 0;
				text-align: center;
				border-bottom: 1px solid #ccc;
			}
			li:last-child {
				border: none;
			}
			a:hover {
				color: $orange;
				background-color: none;
			}
		}
		#burger{
			display: block;
		}
	}
}