// ######## Sass Variables ########
$white_color: #fff;
$font-stack: Impact, sans-serif;
$black_color: #000;
$grey_color: #919191;
$orange: #e28812;


@mixin margin_padding($num) {
	margin: $num;
	padding: $num;
}

@mixin black($opac) {
	background-color: rgba(0,0,0, $opac); 
}
@mixin white($opac) {
	background-color: rgba(255,255,255, $opac);
}

body{
	margin: 0;
	padding: 0;
	background: transparent;
	font-family: $font-stack;

}

header {
	position: fixed;
    width: 100%;
    background: white;
    opacity: 0;
    z-index: 999999;
    box-shadow: 0 0 1px #d6d6d6;
    top:0;
	h1 {
	width: 35%;
	margin: 5px 380px 0 0;
	font-size: 2.5em;
	color: $grey_color;
	float: left;
	text-align: center;
	}
}

@import 'navbar';
.wrapper {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	background-color: rgba(255,255,255, .6);

	h1 {
    	font-size: 200px;
    	margin:0;
    	padding-top: 270px;
    	text-align: center;
    	color: #919191;
    }
}
.parallax-window {
	height: 100vh;
    min-height: 400px;
    width: 100%;
    background-image: url('../Images/NewYork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
	width: 100%;
	// margin-bottom: 5%;

	.content_container {
		width: 90%;
		margin: 0 auto;
		height: 90vh;
		h1 {
			margin-bottom: 5%;
			font-size: 8em;
			text-align: center;
			color: $orange;
		}
	}

	.c1 {
		width: 20%;
		float: left;
		margin:0 0px 0 5px;
		.headshot {
			max-width: 200px;
			float:left;
		}
	}
	.c2, .c3 {
		@include margin_padding(0);
		width: 36%;
		margin: 0px 0 0 30px;
		float:left;
		color: $grey_color;
		font-family: Arial;
		h2 {
			margin-top: 0px;
		}
	}
}

#code_info {
	display: flex;
	justify-content:space-around;
	clear: both;
	color: #888;
	font-family: Arial;
	margin-bottom: 45px;
	div {
		box-shadow: 0 0 7px #ccc;
		width: 30%;
		background-color: #f7f7f7;
	}
	h4{
		text-align: center;
		color: $orange;
	}
	p {
		margin: 6px;
		text-align: center;
	}
}

// ############ Gallery ############

@import 'gallery';

.contact_me {
	@include margin_padding(0);
	width: 100%;
	height: 100vh;
	h1{
		color: $grey_color;
	}
	.contact_box {
		width: 30%;
		padding: 15%;
		margin: auto;
	}
	input {
		width: 100%;
		height: 30px;
		margin: 5px 0 5px 0;
		border: 2px solid $orange;
		border-radius: 3px;
	}
	textarea {
		width: 99.5%;
		height: 150px;
		margin: 5px 0 5px 0;
		border-radius: 3px;
		border: 2px solid $orange;
		
	}
	button {
		width: 102%;
    	border-radius: 3px;
    	background-color: white;
    	border: 2px solid #e28812;
    	height: 30px
	}
}







 
